

body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    color: rgb(29,31,33);


}

/*********** HEADER ************/
#container {
    margin: auto;
    
}
header {
    font-family: 'Heebo', sans-serif;
    font-weight: thin;
    border-bottom-style: solid;
    border-width: thin;
    border-bottom-color: rgba(64,66,68,0.2);
    color: rgb(29,31,33);
    padding-top:40px;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 25px;
    text-align: left;
}

header a {
    color: rgb(29,31,33);
    text-decoration: none;
    padding: 10px;
    text-align: left;

}
nav {
    display: inline-block;
    padding-left: 150px;
    font-size: 1.2em;
    font-color: rgb(29,31,33);
}


#about {
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(49,51,53);
    border-bottom: hidden;
    transition-duration: .5s;
}
#about:hover {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    border-bottom-size:;
    transition-duration: .5s;
}
#projects {
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(49,51,53);
    border-bottom: hidden;
    transition-duration: .5s;
}
#projects:hover {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    border-bottom-size:;
    transition-duration: .5s;
}
#contact {
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(49,51,53);
    border-bottom: hidden;
    transition-duration: .5s;
}
#contact:hover {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    border-bottom-size:;
    transition-duration: .5s;
}
#resume {
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(49,51,53);
    border-bottom: hidden;
    transition-duration: .5s;
}
#resume:hover {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    border-bottom-size:;
    transition-duration: .5s;
}

#name {
    padding-right: 100px;
    color: rgb(59,61,63);
    font-size: 2.3em;
    display: inline-block;
    font-weight: bold;
}

/*****ABOUT PAGE******/
#facePic {
    float: left;
    vertical-align: top;
    margin-right: 45px;
    margin-left: 40px;
    

}

#bio {
    text-align: justify;
    vertical-align: top;
    color: rgb(29,31,33);
    margin-right: 54px;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 1.2em;
}


/*****PROJECT PAGE******/
.project1 {
    width: 45%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    display: inline-block;
   
}
.project2 {
    width: 45%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    display: inline-block;
   
}
.project3 {
    width: 45%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    display: inline-block;
   
}


@media only screen and (max-width: 600px) {
    .project1 {
        width: 100%;
        margin-left: 5%
        margin-right: 25%;
        font-size: 1.5em;
        }
    .project2 {
        width: 100%;
        margin-left: 5%;
        margin-right: 25%;
        font-size: 1.5em;
        }
    .project3 {
        width: 100%;
        margin-left: 5%;
        margin-right: 25%;
        font-size: 1.5em;
        }

}

.projectPic {
    opacity: .85;
    padding: 10px;
    transition-duration: 1s;

}
.projectPic:hover {
    opacity: 1;
    transition-duration: 1s;
}
a {
    text-decoration: none;
    color: rgb(29,31,33);
}


/*****CONTACT PAGE******/
#contactBox {
    text-align:center;
    padding-top: 50px;
    font-size: 1.2em;
    color: rgb(29,31,33);
}
#title {
    font-weight: bold;
}
#Capa_1 {
    height: 250px;
    width: 250px;
}
#Layer_1 {
    height: 250px;
    width: 250px;
}
#Layer_2 {
    height: 250px;
    width: 250px;
}


/***INDIVIDUAL PROJECT PAGES***/
#projectPic {
    padding-top: 50px;
    display: inline-flex;
    position: absolute;
    
}
#description {
    font-size: 1em;
    display: inline-flex;
    width: 500px;
    right: 0;
    text-align: justify;
   
    
}
#projectTitle {
    font-size: 1.3em;
    left: 400px;
    padding-top: 50px;
    font-weight: bold;
    display: inline-flex;
    position: relative;
}
#backButton {
    padding-top: 10px;
    padding-left: 10px;
    width: 125px;
    opacity: .85;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(49,51,53);
    border-bottom: hidden;
    transition-duration: .5s;
}
#backButton:hover {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    border-bottom-size:;
    transition-duration: .6s;
    opacity: 1;
}
#infoContainer {
    margin-bottom: 5%;
}
#goalTitle {
    font-size: 1.4em;
    width: 75%;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 5%;
}
#goalInfo{
    display: none;
    font-size: 1em;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
}
#methodsTitle {
    font-size: 1.4em;
    width: 75%;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 5%;
}
#methodsInfo{
    display: none;
    font-size: 1em;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
}
#resultsTitle {
    font-size: 1.4em;
    width: 75%;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    font-weight: bold;
    cursor: pointer;
    margin-top: 2%;
    margin-left: 5%;
}
#resultsInfo{
    display: none;
    font-size: 1em;
    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 5%;
}

/*#projectInfo {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    width: 90%;
    margin-top: 20px;
}
#projectInfo2 {
    margin: auto;
    font-size: .8em;
    height: 100%;
    width: 90%;
    margin-top: 20px;
    display: none;
}
#infoBox {
    font-size: 1.2em;
    font-weight: bold;
    font-color: rgb(29,32,33);
    
    margin: auto;
    width: 33%;
    height: 50px;
    display: inline-flex;
    
}

#hiddenInfo {
    background-color: darkgrey;
    margin-right: 20px;
    font-size: 1.2em;
    font-weight: bold;
    font-color: rgb(29,32,33);
    text-align: justify;
    margin: auto;
    width: 25%;
    height: 50px;
    display: inline-flex;
}
*/