body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    color: rgb(49,51,53);


}

/*********** HEADER ************/
#container {
    margin: auto;
    
}
header {
    font-family: 'Heebo', sans-serif;
    font-weight: thin;
    border-bottom-style: solid;
    border-width: thin;
    border-bottom-color: rgba(64,66,68,0.2);
    color: rgb(49,51,53);
    padding-top:40px;
    padding-left: 60px;
    padding-top: 60px;
    padding-bottom: 25px;
    text-align: left;
}

header a {
    color: rgb(49,51,53);
    text-decoration: none;
    padding: 10px;
    text-align: left;

}
nav {
    display: inline-block;
    padding-left: 150px;
    font-size: 1.2em;
    font-color: rgb(49,51,53);
}
#about {
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(49,51,53);
    border-bottom: hidden;
    transition-duration: .5s;
}
#about:hover {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    border-bottom-size:;
    transition-duration: .5s;
}
#projects {
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(49,51,53);
    border-bottom: hidden;
    transition-duration: .5s;
}
#projects:hover {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    border-bottom-size:;
    transition-duration: .5s;
}
#contact {
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(49,51,53);
    border-bottom: hidden;
    transition-duration: .5s;
}
#contact:hover {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    border-bottom-size:;
    transition-duration: .5s;
}
#resume {
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(49,51,53);
    border-bottom: hidden;
    transition-duration: .5s;
}
#resume:hover {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    border-bottom-size:;
    transition-duration: .5s;
}

#name {
    padding-right: 100px;
    color: rgb(59,61,63);
    font-size: 2.3em;
    display: inline-block;
    font-weight: bold;
}

/*****ABOUT PAGE******/
#facePic {
    float: left;
    vertical-align: top;
    margin-right: 45px;
    margin-left: 40px;

}
#bio {
    text-align: justify;
    vertical-align: top;
    color: rgb(49,41,43);
    margin-right: 54px;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 1.2em;
}


/*****PROJECT PAGE******/
.project {
    width: 450px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    display: inline-block;
   
}
.projectPic {
    opacity: .85;
    padding: 10px;
    transition-duration: 1s;

}
.projectPic:hover {
    opacity: 1;
    transition-duration: 1s;
}
a {
    text-decoration: none;
    color: rgb(49,41,43);
}


/*****CONTACT PAGE******/
#contactBox {
    text-align:center;
    padding-top: 50px;
    font-size: 1.2em;
    color: rgb(39,31,33);
}
#title {
    font-weight: bold;
}
#Capa_1 {
    height: 250px;
    width: 250px;
}
#Layer_1 {
    height: 250px;
    width: 250px;
}
#Layer_2 {
    height: 250px;
    width: 250px;
}


/***INDIVIDUAL PROJECT PAGES***/
#projectPic {
    padding-top: 50px;
    display: inline-flex;
    position: absolute;
    
}
#description {
    display: inline-flex;
    width: 500px;
    right: 0;
    text-align: justify;
   
    
}
#projectTitle {
    left: 400px;
    padding-top: 50px;
    font-weight: bold;
    display: inline-flex;
    position: relative;
}
#backButton {
    padding-top: 10px;
    padding-left: 10px;
    width: 125px;
    opacity: .85;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: rgb(49,51,53);
    border-bottom: hidden;
    transition-duration: .5s;
}
#backButton:hover {
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: rgba(49,51,53,0.3);
    border-bottom-size:;
    transition-duration: .6s;
    opacity: 1;
}
